main {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main h1 {
  width: 80%;
  text-align: center;
  font-size: 1.5em;
  color: #12776F;
  margin: 20px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
}

.search__term {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #12776F;
  margin: 20px;
}

/* @media only screen and (min-width: 600px) {
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
} */