main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main h1 {
  width: 80%;
  text-align: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* @media only screen and (min-width: 600px) {
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
} */