.splash-container {
    background-image: url('https://cdn.dribbble.com/users/976984/screenshots/4149087/blob.gif');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
}

.bckg {
    color: #12776F;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100px;
    margin: 0 auto;
    justify-content: center;
}

.splash-container a {
    color: #12776F;
    text-decoration: none;
    font-size: 3rem;
}

/* .a {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
} */