.header-container {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: #12776F;
  /* justify-content: space-between; */
  flex-direction: column;
}

.logo {
  object-fit: contain;
  height: 100%;
  max-height: 70px;
}


