.nav-container {
    display: flex;
}

.nav-container ul {
    display: flex;
}

.nav-container li {
    margin-right: 20px;
    margin-bottom: 10px;
}

.nav-container li a {
    text-decoration: none;
    color: #fff;
}

.nav-container li a:hover {
    border-bottom: 2px solid #fff;
}

@media only screen and (min-width: 1000px) {
    .nav-container li {
        margin-right: 40px;
    }
    .nav-container li a {
        font-size: 1.2rem;
        text-transform: uppercase;
    }
}